.wrap {
    padding: 50px 300px 100px 300px;
}

/* modal */
#map {
    width: 700px;
    height: 500px;
    margin: 10px 0 10px 20px;
}

.frame01 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;

}

.form-control.address {
    width: 100%;
}

.main-content {
    height: 300px;
    border: 2px solid #76787a;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    color: #000;
}

.titleBox,
.countryBox {
    width: 40%;
}

.modal-content {
    background: #02152c;
    color: #fff;
    border: 2px solid #76787a;
}

.modal-body {
    overflow: auto;
}

.modal-body::-webkit-scrollbar {
    width: 20px;
    background-color: black;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #474646;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: grey;
    box-shadow: inset 0px 0px 5px white;
}

.addressBox,
.contentBox {
    padding: 20px 20px 0 20px;
}

.modal-title {
    margin-left: 30px;
}

/* page bottom menu */

.bottom-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    color: #ffffff;
    border: 0;
    margin-right: 7px;
    background: #560707
}

.pagination-custom li.active a {
    background: #a80110 !important;
    color: #ffffff !important;
    border: 0;
    font-weight: 700 !important;
}

.pagination-custom li:hover a {
    background: rgb(227, 224, 224) !important;
    color: #000 !important;
    border-color: #76787a !important;

}

/* table */

#modifyBtn {
    margin-left: 30px;
}

.table>:not(caption)>*>* {
    padding: 1rem 0rem 1rem 3rem;
}

#writeBtn {
    margin: 30px 0 30px 0;
    float: right;
    margin-right: 50px;
    width: 120px;
    background: #560E07;
    border: 0;

    padding: 0;
    font-size: 30px !important;
}

tbody .column{
    background: #390707 !important;
}

.table-dark {
    --bs-table-bg: #111111;
    --bs-table-striped-bg: none;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #dd1111;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #491010;
    --bs-table-hover-color: #fff;
    color: #fff;
    border: none;
}

/* select box  */

.searchBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.searchBox form {
    display: flex;
    justify-content: space-around;

}

.searchBox form .form-input {
    width: 300px;
}

.searchBox form #search-type {
    width: 100px;
}

.formInner {
    margin-right: 10px;
}

.searchBtn {
    background: #560E07;
    border: 0;
}

.pageReset {
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}

a.totalbtn.btn.btn-dark
{
    padding: 0;
    font-size: 30px !important;
}
.pageReset .totalbtn {
    margin-right: 10px;
    width: 100px;
    background: #560E07;
    border: 0;
}

.pageReset #selBox {
    width: auto;
}


.btn-warning {
    color: #fff;
    border-color: #e8ff03;
    background: none;

    padding: 0;
    font-size: 30px !important;
}

.btn-danger {
    color: #fff;
    border-color: #e70118;
    background: none;

    padding: 0;
    font-size: 30px !important;
}

/* font */

.btn{
    font-family: 'East Sea Dokdo', cursive;
}

.boardTitle
{
    font-family: 'horror', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #560E07;
    text-shadow: 5px 1px 2px #e31515;
    margin-bottom: 150px;
}

#staticBackdropLabel
{
    font-family: 'horror', sans-serif;
    font-size: 50px;
    color: #ee1f0b;
    margin-left: 20px;
}

button.btn.btn-secondary{
    font-size: 30px;
    background: #560E07;
    border: 0;

}

.modal label{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;
}