@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Mochiy+Pop+One&display=swap');

body
{
    background: #111111;
}


@font-face {
    font-family:'horror';
    src: url('../font/youmurdererbb_reg.ttf') format('truetype');

}