<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.horror.horrorSpotBoard.repository.HorrorSpotMapper">
    <resultMap id="spotMap" type="com.project.horror.horrorSpotBoard.domain.Spot">
        <result property="spotNo" column="spot_no"/>
        <result property="likeCnt" column="like_cnt"/>
    </resultMap>
    <select id="selectAll" resultMap="spotMap">
        SELECT  *
        FROM (
             SELECT ROWNUM rn, v_board.*
                FROM (
                    SELECT *
                     FROM tbl_spot_Board
                         <if test="type == 'title'">WHERE title LIKE '%' || #{keyword} || '%'</if>
                         <if test="type == 'address'">WHERE address LIKE '%' || #{keyword} || '%'</if>
                     ORDER BY spot_no DESC
                ) v_board
        )
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
    </select>

    <select id="selectOne" resultMap="spotMap">
        select * from tbl_spot_Board where spot_no = #{spotNo}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_spot_Board
        <if test="type == 'title'">WHERE title LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'address'">WHERE address LIKE '%' || #{keyword} || '%'</if>
    </select>
    <update id="modify">
        update tbl_spot_board SET title=#{title} , country = #{country} , address= #{address}, content= #{content} where spot_no = #{spotNo}
    </update>
    <delete id="delete">
        DELETE FROM tbl_spot_Board
        WHERE spot_no=#{spotNo}
    </delete>
    <insert id="save">
        INSERT INTO tbl_spot_Board (
            spot_no,
            title,
            country,
            address,
            content) VALUES
        (3 || LPAD(seq_spot_Board.nextval, 4, '0')
        ,#{title}
        ,#{country}
        ,#{address}
        ,#{content}
        )
    </insert>
</mapper>